debug: true
secret: {{ default .Env.PIGGYSTORE__SECRET }}
uploads:
    max_content_length: 3M
server:
    host: {{ default .Env.PIGGYSTORE__SERVER_HOST "127.0.0.1" }}
    port: {{ default .Env.PIGGYSTORE__SERVER_PORT 5000 }}
    name: {{ default .Env.PIGGYSTORE__SERVER_NAME "localhost" }}
token_duration_in_hours: 2h
storage:
    cache:
        module: piggy_store.storage.cache.redis_storage
        params:
            host: localhost
            port: 6379
            database: 0
    files:
        module: piggy_store.storage.files.s3_storage
        params:
            host: s3.amazonaws.com
            region: us-east-1
            bucket: ~
            secure: true
            access_key: ~
            secret_key: ~

