[uwsgi]
# sentry requires threading enabled
enable-threads = true

plugin = python3
module = piggy-store
protocol = http

master = true
processes = 5

vacuum = true
die-on-term = true
need-app = true

socket = {{ getv "/app/piggy/host" }}:{{ getv "/app/piggy/port" }}

; If VIRTUAL_ENV is set then use its value to specify the virtualenv directory
if-env = VIRTUAL_ENV
virtualenv = %(_)
endif =